body {
    background-image: url('../imagens/fundo-com-texto.png');
    background-size: cover; 
    background-repeat: no-repeat;   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

strong {
    font-weight: bold;
    margin-right: 5px;
    color: #1f2a36;
}

header {
    font-size: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0px;
    z-index: 1;
    list-style-type: none;
    padding: 10px 20px;
}

header nav li {
    /* margin-right: 50px; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    flex-direction: row;
}

header nav ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    position: relative;
    margin-right: 20px;
}

header nav ul li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: #1f2a36;
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.menu-suspenso:hover .dropdown-content {
    display: block;
}

.menu-suspenso:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color: black;
    background-color: #f1f1f1;
}

/* Formulário de login */
.hidden {
    display: none;
}

#login-form-container {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 200px;
    position: absolute;
    right: 0;
    top: 50px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #3333334d;
    color: white;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    header nav ul li a {
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    header nav ul li a {
        padding: 8px 15px;
    }

    #login-form-container {
        width: 100%;
        right: 0;
        left: 0;
    }

    button {
        padding: 8px;
    }

    footer {
        font-size: 0.7em;
    }
}
